body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: #e6e6e6;
}

h1 {
	padding: 20px;
	text-align: center;
	font-size: 50px;
}

#mainpage {
	width: 94%;
	margin: auto;
	background-color: #f2f2f2;
	padding: 5px;
}

.chartBox {
	box-shadow: -1px 1px 1px 1px rgba(0,0,0,0.75);
	border: 1px solid black;
	height: 100%;
	width: 30%;
	display: inline-block;
	background-color: #fff;
	margin-left: 10px;
	margin-right: 10px;
}

.chartRow {
	margin: auto;
	margin-top: 25px;
	width: 100%;
	height: 400px;
	display: block;
	text-align: center;
}

.chartContainer {
	height: 100%;
	width: 100%;
}